In [3]:
# Make necessary/useful imports here
import pandas as pd
import random
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.cm
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

## Fix for engine=python error. 
# Do not Mount Data 
#from google.colab import drive
#drive.mount("/content/gdrive", force_remount=True)
#root_path = 'gdrive/My Drive/Datathon-2020/Brown-Datathon-Public-2020/Citizens-Home-Financing-Challenge/data/'
# Instead, download and unzip data directly to colab
root_path = 'citizens-home-financing-challenge/'
!wget https://datathon2020.s3.amazonaws.com/datasets/citizens-home-financing-challenge.zip
!unzip citizens-home-financing-challenge.zip

--2020-02-23 03:57:43--  https://datathon2020.s3.amazonaws.com/datasets/citizens-home-financing-challenge.zip
Resolving datathon2020.s3.amazonaws.com (datathon2020.s3.amazonaws.com)... 52.216.234.35
Connecting to datathon2020.s3.amazonaws.com (datathon2020.s3.amazonaws.com)|52.216.234.35|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2972199826 (2.8G) [application/zip]
Saving to: ‘citizens-home-financing-challenge.zip’

              citiz  17%[==>                 ] 501.60M  47.6MB/s    eta 52s    ^C
Archive:  citizens-home-financing-challenge.zip
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of citizens-home-financing-challenge.zip or
        citizens-home-financing-challenge.zip.zip, and cannot find citizens-home-financing-challenge.zip.ZIP, period.

In [0]:
# file = root_path + "zip9_coded_201909_pv.csv"
# df = pd.read_csv(file, skiprows=skip_list, dtype={'zip5': str})
# df.head()

In [0]:
file = '/content/drive/My Drive/ Brown-Datathon-Public-2020/final_demo_merge1.csv'
df = pd.read_csv(file)
df.drop('Unnamed: 0', axis = 1, inplace=True)

In [0]:
df.drop(['zip5_homebuy', 'zip5_firstbuy'], axis = 1, inplace=True)

In [17]:
df.head()

   zip5  zip9_code  ...  homebuy_prop_zip9_in_zip5  firstbuy_prop_zip9_in_zip5
0  1001     566274  ...                        0.0                         0.0
1  1001    1189603  ...                        1.0                         1.0
2  1001    1866664  ...                        0.0                         0.0
3  1001    5110943  ...                        0.0                         0.0
4  1001    5567163  ...                        0.0                         0.0

[5 rows x 215 columns]

In [0]:
y_names = ['homebuy_prop_zip9_in_zip5', 'firstbuy_prop_zip9_in_zip5']

# buyer 
y1 = df[y_names[0]]

# first 
y2 = df[y_names[1]]

X = df.drop(columns = y_names)

In [16]:
X.head()

   zip5  zip9_code  ...  six_month_buy  six_month_first_buy_ind
0  1001     566274  ...            0.0                        0
1  1001    1189603  ...            0.0                        0
2  1001    1866664  ...            0.0                        0
3  1001    5110943  ...            0.0                        0
4  1001    5567163  ...            0.0                        1

[5 rows x 213 columns]

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import f1_score, accuracy_score, roc_curve, auc
from sklearn.feature_selection import RFE # for feature reduction
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold

X1_other, X1_test, y1_other, y1_test = train_test_split(X, y1, test_size=0.2, random_state = 1030)
X1_test.reset_index(drop=True, inplace=True)
y1_test.reset_index(drop=True, inplace=True)

rf_1 = RandomForestRegressor(n_estimators = 100, max_depth=2, random_state=1030)
selector1 = RFE(rf_1)

In [0]:
X2_other, X2_test, y2_other, y2_test = train_test_split(X, y2, test_size=0.2, random_state = 1030)
X2_test.reset_index(drop=True, inplace=True)
y2_test.reset_index(drop=True, inplace=True)

rf_2 = RandomForestRegressor(n_estimators = 100, max_depth=2, random_state=1030)
selector2 = RFE(rf_2)

In [0]:
# selector1.fit(X1_other, y1_other)
# selector1.ranking_

In [0]:
# selector2.fit(X2_other, y2_other)
# selector2.ranking_

In [31]:
rf_1.fit(X1_other, y1_other)
rf_2.fit(X2_other, y2_other)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=2, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=1030, verbose=0, warm_start=False)

In [0]:
y1_predict = rf_1.predict(X1_test)

In [0]:
y2_predict = rf_2.predict(X2_test)

In [34]:
from sklearn.metrics import mean_squared_error

print("MSE of buying home:", mean_squared_error(y1_test, y1_predict))
print("MSE of buying first home:", mean_squared_error(y2_test, y2_predict))

MSE of buying home: 0.0016997733464552325
MSE of buying first home: 0.0007254959043966972

In [35]:
from sklearn.metrics import r2_score

print("R2 of buying home:", r2_score(y1_test, y1_predict))
print("R2 of buying first home:", r2_score(y2_test, y2_predict))

R2 of buying home: 0.9324101284392246
R2 of buying first home: 0.9554335536434901

In [36]:
from sklearn.metrics import mean_absolute_error

print("MAE of buying home:", mean_absolute_error(y1_test, y1_predict))
print("MAE of buying first home:", mean_absolute_error(y2_test, y2_predict))

MAE of buying home: 0.005953960804579144
MAE of buying first home: 0.002473213530900171